In [ ]:
import pandas as pd

In [ ]:
annual_income = 2 * 2 * 6.4
annual_income

25.6

In [ ]:
c_tank_cost = 9.5
num_truck= 113
truck_cost_per_unit = 0.05
total_cost = num_truck * truck_cost_per_unit
c_total_cost = c_tank_cost + total_cost

s_tank_cost = 79
s_total_cost = s_tank_cost + total_cost
c_total_cost, s_total_cost

(15.15, 84.65)

In [ ]:
annual_operating_cost = 7.065

In [ ]:
c_depreciation = c_tank_cost / 25
s_depreciation = s_tank_cost / 25

depreciation_truck = total_cost / 10

c_total_depreciation = c_depreciation + depreciation_truck
s_total_depreciation = s_depreciation + depreciation_truck

tax_rate = 0.25

c_tax = annual_income - annual_operating_cost - c_total_depreciation
c_tax_payment = tax_rate * c_tax

s_tax = annual_income - annual_operating_cost - s_total_depreciation
s_tax_payment = tax_rate * s_tax
c_tax_payment, s_tax_payment

(4.3975, 3.7025)

In [ ]:
c_annual_cashflow = annual_income - annual_operating_cost - c_tax_payment
s_annual_cashflow = annual_income - annual_operating_cost - s_tax_payment
c_annual_cashflow, s_annual_cashflow

(14.1375, 14.8325)

In [ ]:
discount_rate = 0.15
years = 25

c_npv = -c_total_cost + sum(c_annual_cashflow / (1 + discount_rate) ** t for t in range(1, years + 1))
s_npv = -s_total_cost + sum(s_annual_cashflow / (1 + discount_rate) ** t for t in range(1, years + 1))
c_npv, s_npv

(76.23690769300663, 11.229491307269399)

In [ ]:
final = {
    "Metric": [
        "Annual Revenue (Million $)",
        "Annual Cash Flow (Million $)",
        "Net Present Value (NPV, Million $)"
    ],
    "Centralized Storage (Coos Bay)": [annual_income, c_annual_cashflow, c_npv],
    "Decentralized Storage (Satellite Tanks)": [annual_income, s_annual_cashflow, s_npv],
}
final

{'Metric': ['Annual Revenue (Million $)',
  'Annual Cash Flow (Million $)',
  'Net Present Value (NPV, Million $)'],
 'Centralized Storage (Coos Bay)': [25.6, 14.1375, 76.23690769300663],
 'Decentralized Storage (Satellite Tanks)': [25.6,
  14.8325,
  11.229491307269399]}

In [1]:
location_coordinates = {
    "Coalinga": (36.14, -120.36),
    "Palo Alto": (37.44, -122.14),
    "Susanville": (40.42, -120.65),
    "Vernon": (34.00, -118.23),
    "Island Energy": (38.10, -121.70),
    "Long Beach": (33.77, -118.19),
    "PG&E": (37.78, -122.42),
    "SDG&E": (32.72, -117.16),
    "SoCalGas": (34.05, -118.25),
    "Southwest Gas": (36.17, -115.14),
    "Tuscarora": (41.27, -116.80),
    "Coos Bay": (43.37, -124.22)
}

demand_data = {
    "Coalinga": 100,
    "Palo Alto": 200,
    "Susanville": 100,
    "Vernon": 100,
    "Island Energy": 100,
    "Long Beach": 600,
    "PG&E": 2300,
    "SDG&E": 800,
    "SoCalGas": 1600,
    "Southwest Gas": 400,
    "Tuscarora": 100
}


total_demand = sum(demand_data.values())
weighted_x = sum(location_coordinates[loc][0] * demand_data[loc] for loc in demand_data) / total_demand
weighted_y = sum(location_coordinates[loc][1] * demand_data[loc] for loc in demand_data) / total_demand

optimal_location = (weighted_x, weighted_y)

optimal_location

(35.74390625, -119.6353125)